* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  line-height: 1.5rem;
 
}
.msg {
  margin: 30px 0px;
  padding: 20px;
  /* max-width:60% ;*/
  /* min-width:140% ;  */
  border-radius: 5px;
  background: #1979b5;
  box-shadow: inset 5px 5px 10px #15679a, inset -5px -5px 10px #1d8bd0;
}
.line {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
 .time , .text{
  background: #1979b5;
  color: aliceblue ;
  border-radius: 5px;
  box-shadow:  5px 5px 10px #15679a,  -5px -5px 10px #1d8bd0;
  padding : 20px 10px;
  min-width: 100px;
}
.text{
  margin-right: 100px;
  min-width: 400px;
}
.time{
  font-size: 10px;
  padding: 5px;
  height: 25px;
  align-self: flex-end;
  margin-bottom: -15px;
}
.userName{
  font-weight: 500;
  /* font-size: large; */
 max-width: 120px;
  background: #1979b5;
  color: aliceblue ;
  border-radius: 5px;
  box-shadow:  5px 5px 10px #15679a,  -5px -5px 10px #1d8bd0;
  /* padding: 35px 1px 0px 1px; */
  padding : 20px 10px;
  margin-bottom: 20px;
}